@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 100% 98%;
    --foreground: 224 76% 10%;
    --card: 225 100% 100%;
    --card-foreground: 224 76% 10%;
    --popover: 225 100% 100%;
    --popover-foreground: 224 76% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 225 50% 94%;
    --secondary-foreground: 224 76% 20%;
    --muted: 225 50% 94%;
    --muted-foreground: 225 10% 45%;
    --accent: 199 98% 48%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 50% 90%;
    --input: 225 50% 92%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 199 98% 48%;
    --chart-3: 27 87% 67%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 199 98% 48%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 199 98% 48%;
    --chart-3: 27 87% 67%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
